<h1>Listing Employees</h1>

<%= link_to 'New employee', new_employee_path %> 
<table>
  <tr>
    <th>Company ID </th>
    <th>Name </th>
    <th>Phone </th>
    <th>Email </th>
    <th>Role </th>
    <th>Area </th>
    <th colspan="2"></th>
   </tr>
 
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.id %></td>
      <td><%= employee.full_name %></td>
      <td><%= employee.phone %></td>
      <td><%= employee.email %></td>
      <td><%= employee.role %></td>
      <td><%= employee.area %></td>
      <td><%= link_to 'Show', employee_path(employee) %></td>
      <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
      <td><%= link_to 'Destroy', employee_path(employee),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

