<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Project name</th>
      <th>Area</th>
      <th>Manager</th>
      <th>Project kickoff</th>
      <th>Project deadline</th>
      <th>Team</th>
    </tr>
  
  <% @projects.each do |project| %>
      <tr>
        <td><%= project.project_name %></td>
        <td><%= project.area %></td>
        <td><%= project.manager %></td>
        <td><%= project.project_kickoff %></td>
        <td><%= project.project_deadline %></td>
        <td><%= project.team %></td>
      </tr>
    <% end %>
</table>
<%= link_to 'Back', root_path %>
