<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @project.project_name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @project.area %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @project.manager %>
</p>

<p>
  <strong>Project kickoff:</strong>
  <%= @project.project_kickoff %>
</p>

<p>
  <strong>Project deadline:</strong>
  <%= @project.project_deadline %>
</p>

<p>
  <strong>Team:</strong>
  <%= @project.team %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
